body{
    background-color: whitesmoke;

}



.inp{
    height: 30px;
    width: 300px;
border-radius: 5px;
}

.A{
    display: flex;
    height: 400px;
    width: 1000px;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.C{
    margin-left: 70px;
}

.T{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
h4{
    color: blue;
}
.btn{
    margin-left: 30px;
    background-color: blue;
    border-radius: 10px;
    color: white;
}